// customize sliders
.flex-prev,
.flex-next {
  width: 25px;
  height: 90px;

  i {
    line-height: 90px;
  }
}

.flex-prev {
  left: 0;

  @include media-breakpoint-up(sm) {
    left: 30px;
  }
}

.flex-next {
  right: 0;

  @include media-breakpoint-up(sm) {
    right: 30px;
  }
}

.rating-container {
  .caption,
  .clear-rating {
    display: none;
  }
}

.info-panel {
  &-item:not(:last-child) {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      border-right: 1px solid $gray-300;
      margin-bottom: 0;
    }
  }

  .pricing-price {
    padding: 0;
  }

}

.pacifico {
  font-family: $cursive-font;
  font-size: 48px;
}

.title-bg {
  padding: 80px 0;
}

.masonry-thumbs {
  margin: 0;
  .grid-item {
    padding: 0;
  }
}

.btn-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    position: relative;
    width: 160px;
    border: 1px solid $gray-300;
    padding: 15px 40px 10px 10px;
    margin: 20px 6px;
    color: $black;

    @include media-breakpoint-up(lg) {
      margin: 20px 10px;
    }
  }

  &-icon {
    position: absolute;
    left: 10px;
    top: 0;
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 1;
    background: $white;
    padding: 5px;
  }

  &-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(50%);
    font-size: 22px;
    line-height: 1;
  }
}

// accommodation index
.hotel-price {
  display: block;
  font-size: 40px;
  color: $theme-color;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 1px;
}

.rating-xs {
  font-size: 15px!important;

  .star i {
    top: 0;
    margin-right: 0;
  }
}

// content-page
.hero-parallax {
  h1 {
    font-size: 48px;
    line-height: 1;
    color: white;

    @include media-breakpoint-up(md) {
      font-size: 100px;
    }

    @media (max-width: 320px) {
      font-size: 42px;
    }
  }
}

.mini-map {
  position: absolute;
  right: 10%;
  bottom: 50px;
  width: 100px;
  z-index: 12;

  .dot-pulse {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0251b;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    color: $white;
    font-size: 8px;
    line-height: 8px;
    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}

.time-title {
  position: absolute;
  z-index: 12;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 1;
  font-size: 70px;

  @include media-breakpoint-up(md) {
    font-size: 100px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 140px;
  }

  &-top {
    top: -75px;
    color: #D5A647;
  }

  &-bottom {
    bottom: -50px;
    color: #646464;
  }

  .pacifico {
    font-size: inherit;
  }
}

.flip-card-front, .flip-card-back {
  border-radius: 0;

  &::after {
    border-radius: 0;
  }
}

.flip-card-front::after {
  opacity: 0;
}

.pace-arrow {
  position: relative;
  font-size: 65px;
  flex-grow: 1;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    left: 0;
    border-top: 4px dotted $white;
  }

  &-left::after {
    right: 0;
    left: initial;
  }
}

.column-text {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 25px;
    width: 2px;
    height: 10px;
    background: $black;
  }

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 25px;
    width: 2px;
    height: 10px;
    background: $gray-600;
  }
}

.content-parallax {
  h2 {
    font-size: 45px;

    .pacifico {
      font-size: 60px;
    }
  }
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn { display:none }