// customize sliders
.flex-prev,
.flex-next {
  width: 25px;
  height: 90px;

  i {
    line-height: 90px;
  }
}

.flex-prev {
  left: 0;

  @include media-breakpoint-up(sm) {
    left: 20px;
  }
}

.flex-next {
  right: 0;

  @include media-breakpoint-up(sm) {
    right: 20px;
  }
}

.flex-control-nav:not(.flex-control-thumbs) {
  left: 50%;
  top: initial;
  bottom: 25px;
  transform: translateX(-50%);

  @include media-breakpoint-up(sm) {
    bottom: 100px;
  }

  li {
    width: 75px;
    height: 3px;

    &:hover {
      a {
        background-color: $white;
      }
    }

    a {
      border: none;
      border-radius: 0;
      background-color: $theme-gold;

      &.flex-active {
        background-color: $white;
      }
    }
  }
}

.rating-container {
  .caption,
  .clear-rating {
    display: none;
  }
}

.info-panel {
  padding: 15px 0;

  .button:hover {
    background-color: $theme-color;
  }

  &-item:not(:last-child) {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      border-right: 1px solid $gray-300;
      margin-bottom: 0;
    }
  }

  &-large {
    .info-panel-item:not(:last-child) {
      margin-bottom: 30px;
      border-right: 0;
      @include media-breakpoint-up(lg) {
        border-right: 1px solid $gray-300;
        margin-bottom: 0;
      }
    }
  }

  .pricing-price {
    padding: 0;
  }

}

.pacifico {
  font-family: $cursive-font;
  font-size: 48px;
}

.title-bg {
  padding: 80px 0;
}

.masonry-thumbs {
  margin: 0;
  .grid-item {
    padding: 0;
  }
}

.btn-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    position: relative;
    width: 160px;
    border: 1px solid $gray-300;
    padding: 15px 40px 10px 10px;
    margin: 20px 6px;
    color: $black;

    @include media-breakpoint-up(lg) {
      margin: 20px 10px;
    }
  }

  &-icon {
    position: absolute;
    left: 10px;
    top: 0;
    transform: translateY(-50%);
    font-size: 20px;
    line-height: 1;
    background: $white;
    padding: 5px;
  }

  &-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(50%);
    font-size: 22px;
    line-height: 1;
  }
}

// accommodation index
.index-hero {
  height: 550px;
  display: flex;
  align-items: center;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.25);
    z-index: -1;
  }

  // unused style (subtitle moved to bottom)
  .subtitle {
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    color: $white;
    font-weight: bold;

    @include media-breakpoint-up(md) {
      margin-top: 50px;
      font-size: 35px;
    }
  }
  //

  h1 {
    font-size: 48px;
    line-height: 1;
    color: white;

    @include media-breakpoint-up(md) {
      font-size: 100px;
    }

    @media (max-width: 320px) {
      font-size: 42px;
    }
  }
}

.found-result {
  font-size: 25px;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 32px;
  }
}

.product-list {
  .entry {
    margin-bottom: 40px;
    position: relative;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - 40px);
      height: 2px;
      transform: translateX(-50%);
      background: $line-color;
    }
  }
}

.hotel-price {
  display: block;
  font-size: 40px;
  color: $theme-color;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 1px;
}

.rating-xs {
  font-size: 15px!important;

  .star i {
    top: 0;
    margin-right: 0;
  }
}

// content-page
.hero-parallax {
  h1 {
    font-size: 48px;
    line-height: 1;
    color: white;

    @include media-breakpoint-up(md) {
      font-size: 100px;
    }

    @media (max-width: 320px) {
      font-size: 42px;
    }
  }

  .slider-caption {
    max-width: 100%;
  }
}

.video-bg {
  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mini-map {
  position: absolute;
  right: 10%;
  bottom: 50px;
  width: 100px;
  z-index: 12;

  .dot-pulse {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0251b;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    color: $white;
    font-size: 8px;
    line-height: 8px;
    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}

.text-boxes-row {
  p {
    line-height: 2rem;
  }
}

.content-img-left {
  height: max-content;
  float: left;
  max-width: 350px;

  @include media-breakpoint-up(md) {
    margin-right: 20px;
  }
}

.content-img-right {
  height: max-content;
  float: right;
  max-width: 350px;

  @include media-breakpoint-up(md) {
    margin-left: 20px;
  }
}

.time-title {
  position: absolute;
  z-index: 12;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 1;
  font-size: 50px;

  @include media-breakpoint-up(md) {
    font-size: 70px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 100px;
  }

  &-top {
    top: -40px;
    color: #D5A647;

    @include media-breakpoint-up(lg) {
      top: -55px
    }
  }

  &-bottom {
    bottom: -20px;
    color: #646464;

    @include media-breakpoint-up(lg) {
      bottom: -30px;
    }
  }

  .pacifico {
    font-size: inherit;
  }
}

.flip-content {
  .flip-card-front, .flip-card-back {
    border-radius: 0;

    &::after {
      border-radius: 0;
    }
  }

  .flip-card-front::after {
    opacity: 0;
  }
}

.pace-arrow {
  position: relative;
  font-size: 65px;
  flex-grow: 1;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    left: 0;
    border-top: 4px dotted $white;
  }

  &-left::after {
    right: 0;
    left: initial;
  }
}

.content-parallax {
  h2 {
    font-size: 45px;

    .pacifico {
      font-size: 60px;
    }
  }
}

.title-down {
  position: relative;
  top: 15px;
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn { display:none }

.owl-carousel .owl-video-tn {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// tour package
.step-line {
  .row:not(:last-of-type) {
    .fbox-icon-wrap {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 65px;
        left: 28px;
        width: 2px;
        height: calc(100% - 25px);
        background-color: #EEE;
        z-index: 0;
      }
    }
  }

  .fbox-border.fbox-light:not(:hover) .fbox-icon i {
    color: $black;
  }

  .fbox-border.fbox-effect .fbox-icon i::after {
    background-color: $theme-color;
  }

  .fbox-icon {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    background: $white;
    border-radius: 50%;
    z-index: 1;

    i {
      line-height: 3.5rem;
    }
  }

  .fbox-content {

    p {
      color: $gray-700;
      margin-bottom: 20px;
    }

    h3 {
      font-size: $h3-font-size;
      text-transform: none;
    }
  }
}

.form-check-label {
  text-transform: none;
}

.h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
}

// travel guide

.toggle {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EEE;
}

.toggle-header {
  align-items: center;
}

.toggle-header .toggle-open {
  display: block !important;
  font-size: 20px;
  line-height: 1;
  height: 20px;
  transform: rotate(45deg);
  transition: transform .3s ease;
}

.toggle-closed { display: none !important; }

.toggle-active .toggle-open {
  display: block !important;
  transform: rotate(90deg);
  color: $theme-color;
}

.tab-container,
.tabs-bb .tab-nav {
  padding: 0 15px;
}


// partners page
/* ----- | Story-Box | ----- */
.story-box {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.story-box .story-box-image {
  width: 70%;
  height: 500px;
  z-index: 2;
  overflow: hidden;
  flex-basis: auto;
}

.story-box .story-box-image img {
  display: block;
  height: auto;
  width: 100%;
  opacity: 1;
  transition: opacity .3s ease;
}

.story-box:hover .story-box-image img {
  opacity: .9;
}

.story-box .story-box-info {
  box-sizing: border-box;
  width: 50%;
  height: 430px;
  padding: 60px;
  margin: 35px 0 0 -20%;
  background: #fff;
  z-index: 4;
  box-shadow: 0 10px 45px rgba(0,0,0,.1);
  transition: all ease-in .3s;
  flex-basis: auto;
}

.story-box.description-left .story-box-info {
  order: -1;
  margin: 35px -20% 0 0;
}

.story-box .story-box-info .story-title {
  font-size: 26px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0;
  color: #1d2c4c;
}

.story-box .story-box-info .story-box-content p {
  font-size: 15px;
  font-weight: 400;
  color: #666;
  line-height: 1.8;
}

.story-box .story-box-info .story-box-content a {
  border-color: $theme-color;
  color: $theme-color;
  
  &:hover {
    color: $white;
  }
}

/* ----- Story-Box Responsive ----- */
@media (max-width: 991px) {

  .story-box .story-box-image {
    width: 100%;
    height: 400px;
    -ms-flex-order: -1;
    order: -1;
  }

  .story-box.description-left .story-box-info {
    order: -1;
    margin: 35px -20% 0 0;
  }

  .story-box.description-left .story-box-info { margin: -40px 5% 0; }

  .story-box .story-box-info {
    max-width: 90%;
    height: auto;
    flex-basis: 90%;
    margin: -40px 5% 0;
  }
}


@media (max-width: 767px) {

  .story-box.description-left .story-box-info { margin: -100px 5% 0; }
  .story-box .story-box-info {
    padding: 35px;
    text-align: center;
    margin: -100px 5% 0;
  }
}

@media (max-width: 479px) {

  .story-box .story-box-info {
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: -200px 5% 0;
  }
  .story-box.description-left .story-box-info { margin: -200px 5% 0; }
}

//magazine slider on product pages
.magazine-external {
  .owl-stage-outer {
    overflow: visible;
  }

  .card-image {
    height: auto;
    object-fit: cover;

    @include media-breakpoint-up(md) {
      height: 350px;
    }

    @include media-breakpoint-up(lg) {
      height: 380px;
    }
  }

  .card {
    border: 1px solid #EEE;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 10px rgba(140, 152, 164, 0.15);
    margin-top: -20px;

    h4 a {
      color: $black;

      &:hover {
        color: $theme-color;
      }
    }

    p {
      color: #888;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .card-body {
      padding-right: 10px;
    }

    .card-more {
      position: relative;
      font-style: italic;

      &:hover::after {
        background: #222;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -3px;
        background: $theme-color;
      }
    }
  }
}